* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white;
}

h1.title {
  font-family: 'Outfit', sans-serif;
  font-size: 5.5rem;
  font-weight: 500;
}

h2.title {
  font-family: 'Outfit', sans-serif;
  font-size: 5.5rem;
  font-weight: 500;
}

span.titletext {
border-bottom: #1F4880;
}

#homeinfo {
  font-size: 2rem;
}

#address {
  font-weight: 400;
}

#links {
  justify-content: center;
  position: absolute;
  bottom: 5%;
}

#resume{
vertical-align: bottom;
}

#homedescription {
  font-size: 10px;
}

#carouselExampleCaptions {
  width: 75%;
  margin-bottom: 5%;
}
#terminalbox{
  width: 80vw;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .navbar .container-fluid,
  .navbar-expand-lg .navbar-collapse .navbar-nav {
      flex-direction: column;
  }

  .navbar {
      max-width: 300px;
      width: 20%;
      height: 100vh;
      font-size: larger;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  main {
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
  }

  .page {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      flex: 1;
      min-height: 100vh;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      scroll-snap-align: start;
      transition: start 2s;
      padding: 2%;
      max-width: 80vw;
  }
  
}

#page1 {
  font-size: larger;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  max-height: 100vh;
  position: relative;
}

#page2{
  justify-content: center;
}

.banner {
  overflow: hidden;
  display: flex;
}

.banner img {
  max-width: 80vw;
  height: auto;
  display: block;
}
#leftcol{
  padding: 20px;
}
.with-vertical-line {
  background: #ffffffd7;
  color: #1F4880;
}


a {
  color: #ffffff;
}

a:hover,
a:focus,
a:active {
  color: #ffffff;
}

